<h1>ABOUT ME</h1>
<div class="box1">
  <ul>
    <img class="me" src="../../assets/img/me.jpg" width="160px" height="160px">
    <li>
      <b>Name:</b> {{my_name}}</li>
    <li>
      <b>NickName:</b> {{my_nname}}</li>
    <li>
      <b>Age:</b> {{age}}</li>
    <li>
      <b>Birthday:</b> {{dob}}</li>
    <li>
      <b>Email:</b> {{email}}</li>
    <li>
      <b>Blood’s Group: </b> {{blood}}</li>
    <li>
      <b>Education:</b> {{edu}}</li>
    <li>
      <b>Major:</b> {{major}}</li>
  </ul>
</div>

<h2>My Favorite Artists</h2>
<div class="box1">
  <img class="ex" src="../../assets/img/exo.jpg" width="160px" height="160px">
  <img class="cn" src="../../assets/img/cn.jpg" width="160px" height="160px">
</div>